<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <sw-card-wrapper #cardWrapper>
  <ion-card
    swSwipeable
    [orientation]="'x'"
    (swipe)="removeBy()"
  >
    <ion-item lines="none">
      <ion-label>
        <h2 (click)="viewUser(post.user_id)">{{ post.name }}</h2>
        <p>{{ post.time }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="post-body" lines="none">
      <ion-label text-wrap>
        <div (click)="viewPost(post.id)">
          <img class="ef-post-image" *ngIf="post.image" src="{{ post.image }}">
        </div>
      </ion-label>
    </ion-item>

    <ion-grid class="post-actions">
      <ion-row>
        <ion-col text-center (click)="toggleLike(post)">
          <ion-icon name="thumbs-up" color="primary"  *ngIf="post.liked"></ion-icon>
          <ion-icon name="thumbs-up" *ngIf="!post.liked"></ion-icon>
        </ion-col>
        <ion-col text-center (click)="viewPost(post.id)">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="share-alt"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</sw-card-wrapper>
</ion-content>
