.post-body {

  border-top: 1px solid var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light);

  p {
    font-size: 0.8em;
  }

  .subdued {
    color: var(--ion-color-medium);
    font-size: 0.8em;
    margin-right: 5px;
  }
}

.post-actions {
  color: #7C7C7C;
  font-size: 1.4em;
}

.ef-card {
  margin-top: 3rem;
}

.ef-post-image {
  margin-bottom: 2rem;
}
