<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
     <div>
      <ion-button expand="block" color="secondary" (click)="pickImage()">takepicture</ion-button>
    </div>
  <ion-card *ngFor="let post of posts">
    <ion-item lines="none">
      <ion-avatar slot="start" (click)="viewUser(post.user_id)">
        <img src="{{ post.face }}">
      </ion-avatar>
      <ion-label>
        <h2 (click)="viewUser(post.user_id)">{{ post.name }}</h2>
        <p>{{ post.time }}</p>
      </ion-label>
    </ion-item>

    <ion-item class="post-body" lines="none">
      <ion-label text-wrap>
        <div (click)="viewPost(post.id)">
          <img class="full-image" *ngIf="post.image" src="{{ post.image }}">
          <p padding-top padding-bottom>{{ post.content }}</p>
        </div>

        <div>
          <span (click)="viewPost(post.id)" class="subdued">{{ post.likeCount}} Likes</span>
          <span (click)="viewPost(post.id)" class="subdued" margin-left>{{ post.commentCount}} Comments</span>
        </div>
      </ion-label>
    </ion-item>

    <ion-grid class="post-actions">
      <ion-row>
        <ion-col text-center (click)="toggleLike(post)">
          <ion-icon name="thumbs-up" color="primary"  *ngIf="post.liked"></ion-icon>
          <ion-icon name="thumbs-up" *ngIf="!post.liked"></ion-icon>
        </ion-col>
        <ion-col text-center (click)="viewPost(post.id)">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="share-alt"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
