<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <ion-text color="primary">
        <h2 class="post-author" (click)="viewUser(post.user_id)">{{ post.name }}</h2>
      </ion-text>
      <span class="post-time">
      {{ post.time }}
    </span>
    </ion-label>
  </ion-item>

  <div padding>
    <img class="full-image" *ngIf="post.image" src="{{ post.image }}">
    <p>{{ post.content}}</p>



  </div>
</ion-content>
