.post-author {
  align-self: center;
}

h3.post-author {
  font-weight: normal;
}

.post-comment {

  .like-count {
    margin-right: 5px;
    font-size: 0.8em;
  }
}

.ef-badge{
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
