<ion-content class="login">
  <div class="auth-page" padding>
    <!-- Logo -->
    <div text-center padding>
      <ion-text color="light"><h2>Bee Safe Dating</h2></ion-text>
    </div>

    <!-- Login form -->
    <ion-list>

      <ion-item>
        <ion-icon slot="start" name="ios-mail" color="light"></ion-icon>
        <ion-input [(ngModel)]="email" type="text" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="ios-lock" color="light"></ion-icon>
        <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
      </ion-item>

    </ion-list>

    <div>
      <ion-button expand="block" color="secondary" (click)="login()">LOG IN</ion-button>
    </div>

    <!-- Social login -->
    <div padding text-center>
      <ion-text color="light"><span>Or login with:</span></ion-text>
      <p>
        <a padding class="facebook-color">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a padding class="twitter-color">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a padding class="googleplus-color">
          <ion-icon name="logo-googleplus"></ion-icon>
        </a>
      </p>
    </div>

    <!-- Other links -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="light"><span>Forgot password?</span></ion-text>
        </ion-col>

        <ion-col>
          <ion-text color="light"><a (click)="register()">New here? Sign up</a></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
